<header class="hstyle">
  <img src="../assets/media/Header.png" alt="Evort logo">

  <nav class="menu">
    <button type="submit" routerLink="/registration"> Реєстрація</button>
    <button type="submit" routerLink="/login">Вхід</button>
    <button type="submit">Налаштування</button>
    <button type="submit">Карта</button>
  </nav>
</header>
<router-outlet></router-outlet>

<h2>List of movies and {{ password[0].value }}</h2>
<ul>
  <li *ngFor="let movie of movies">
    <h2>{{ movie.title }}</h2>
  </li>
</ul>

<footer>
  <div class="credits">
   <p>©AI-CS 2020</p>
 </div>
</footer>

