<div class="container" style="width:100%; padding-bottom: 10px;">

  <h2 id = ground-name style="text-align: center;"> Name </h2>
  <div class="infocon">
    <table>
      <tr style="margin: 0px;">
        <td><p class="pbold" style="margin: 0px;">Дата:</p></td>
        <td><p style="margin: 0px;">24.10.2000</p></td>
      </tr>
      <tr style="margin: 0px;">
        <td><p class="pbold" style="margin: 0px;">Створив:</p></td>
        <td><p style="margin: 0px;">Jhon Dou</p></td>
      </tr>
      <tr>
        <td><p class="pbold" style="margin: 0px;">Деталі:</p></td>
        <td><p style="margin: 0px;">Have fun</p></td>
      </tr>
    </table>
  </div>
  <button type="submit">join</button>

</div>
