<div class="top_padding">
  <div class="container">

    <p>{{ loginForm.value | json }} {{ loginForm.status | json }}</p>
    <form novalidate [formGroup]="loginForm" #fform="ngForm" (ngSubmit)="onSubmit()">
      <h2>Enter your account</h2>
      <div class="row">
        <div class="col-25">
          <label for="name">Username: </label>
        </div>
        <div class="col-75">
          <input formControlName="username" placeholder="Your username.." type="text" id="name" required>
          <p class="error" *ngIf="formErrors.username">{{formErrors.username}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="password">Password: </label>
        </div>
        <div class="col-75">
          <input formControlName="password" placeholder="Your password.." type="password" id="password" required>
          <p class="error" *ngIf="formErrors.password">{{formErrors.password}}</p>
        </div>
      </div>

      <div class="row">
        <div class="error" *ngIf="error">
          <h4 >{{error}} <a href="/registration">Click here to register</a></h4>
        </div>

        <button type="submit" [disabled]="loginForm.invalid">Submit</button>
      </div>

      <div class="register">
        <a class="register" routerLink="/registration">Don`t have account?</a>
      </div>
    </form>
  </div>
</div>
