<div class="top_padding">
  <div class="container">

    <div class="row">
      <h2>Register new user</h2>

      <div class="row">
        <div class="col-25">
          <label for="name">Name: </label>
        </div>
        <div class="col-75">
          <input [(ngModel)]="registerUserData.name" type="text" id="name" name="name" placeholder="Your name.." required="required">
        </div>
      </div>

      <div class="col-25">
        <label for="email">Email: </label>
      </div>
      <div class="col-75">
        <input [(ngModel)]="registerUserData.email" type="text" id="email" name="email" placeholder="Your email.." required="required">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="password">Password: </label>
      </div>
      <div class="col-75">
        <input [(ngModel)]="registerUserData.password" type="password" id="password" name="password" placeholder="Your password.." required="required">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="c_password">Password: </label>
      </div>
      <div class="col-75">
        <input [(ngModel)]="registerUserData.c_password" type="password" id="c_password" name="c_password" placeholder="Confirm password.." required="required">
      </div>
    </div>

    <div class="row">
      <input (click)="registerUser()" type="submit" value="Submit">
    </div>

    <div class="register">
      <a class="register" routerLink="/login">Already have account?</a>
    </div>
  </div>
</div>
