* {
  box-sizing: border-box;
}

p {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

p.pbold{
  font-weight: bold;
}

.infocon{
  margin-left: auto;
  margin-right: auto;
}

img{
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.infocon img{
  float: left;
  height: 200px;
  width: 200px;

}

.infocon table{
  display: block;
  margin-left: 250px;
}

input[type=text], input[type=password]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

h2 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

button[type=submit] {
  width: 100%;
  background-color: #212322;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 6px;
}

button[type=submit]:hover {
  background-color: #ffffff;
  color: #000000;
}

button[type=submit]:disabled {
  background-color: grey;
  color: #000000;
}

.register {
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  color: blue;
}

.register:hover {
  color: #0056b3;
  text-decoration: underline
}

.container {

  width: 600px;
  margin: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
}

.top_padding {
  padding-top: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75 {
    width: 100%;
    margin-top: 0;
  }

  img{
    display: none;
  }

  .infocon table{
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
  }

  .container {
    width: 95%;
    margin: 5px;
  }
}

.error {
  color: #D8000C;
  background-color: #FFD2D2;
  text-align: center;
  padding:1px;
  margin: 6px 0;
}
