<div class="container" style="width:100%; padding-bottom: 10px;">

  <h2 id = ground-name style="text-align: center;"> {{ name }}</h2>
  <div class="infocon">
    <img src="../assets/media/sportIcon.png" alt="Evort logo">
    <table>
      <tr style="margin: 0px;">
        <td><p class="pbold" style="margin: 0px;">Адреса:</p></td>
        <td><p style="margin: 0px;">{{ address }}</p></td>
      </tr>
      <tr style="margin: 0px;">
        <td><p class="pbold" style="margin: 0px;">Тип:</p></td>
        <td><p style="margin: 0px;">{{ type }}</p></td>
      </tr>
      <tr>
        <td><p class="pbold" style="margin: 0px;">Оплата:</p></td>
        <td><p style="margin: 0px;">{{ paid }}</p></td>
      </tr>
    </table>
  </div>
</div>

<div class="container_events" style="padding-top:10px; padding-bottom: 10px;">
  <mat-grid-list cols="1" rowHeight="60px">
    <mat-grid-tile style="align-items: flex-start; !important;">
      <h3>Events</h3>
    </mat-grid-tile>

    <mat-grid-tile *ngFor="let event of gevents" style="align-items: flex-start; !important;" (click)="openEventdetail()">
      <div class="events_list_item" style="width: 100%;">
        <span style="float: left">{{event.name}}</span>
        <span style="float: right">8/12</span>
<!--       <span style="float: right; margin-right: 10px">Creator: Yabko</span> -->
        <span style="float: right; margin-right: 20px;">{{ event.date }}</span>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
